<div class="bg-gray-50">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-16 sm:py-24">
        <app-section-header title="Escolha o Plano Perfeito para Você" description="Comece gratuitamente e evolua conforme suas necessidades. Cancele a qualquer momento."></app-section-header>
        
        <div class="mt-10 grid grid-cols-1 lg:grid-cols-3 gap-8">
            <app-plan-card 
            *ngFor="let plano of planos" 
            [plano]="plano" 
            [billingCycle]="billingCycle"></app-plan-card>
        </div>
        
        <app-faq></app-faq>
    </div>
</div>