<app-generic-view-page>
    <app-generic-page-header [title]="title"></app-generic-page-header>
    
    <app-generic-tab-navigation [tabs]="tabs()" class="px-8 bg-white"></app-generic-tab-navigation>
    
    <main class="flex-1 overflow-y-auto p-8 pt-6 relative max-h-[80vh]">
        <ng-content></ng-content>
        
        <app-pager
        [totalItems]="totalDeItensDoSeuSignal()"
        [(currentPage)]="paginaAtualSignal"
        [(itemsPerPage)]="itensPorPaginaSignal"/>
        
        <app-generic-floating-plus-button></app-generic-floating-plus-button>
    </main>
</app-generic-view-page>