<div [ngSwitch]="authService.primaryUserRole()">
    
    <ng-container *ngSwitchCase="'ROLE_ADMIN'">
        <div class="mb-6">
            <h2 class="text-2xl font-bold text-slate-800">Gerenciamento de Administrador</h2>
            <p class="mt-1 text-base text-slate-600">Monitore e gerencie todos os grupos da plataforma.</p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <app-generic-navigation-card 
            *ngFor="let op of operations()" 
            [operation]="op"></app-generic-navigation-card>
        </div>
    </ng-container>
    
    <ng-container *ngSwitchCase="'ROLE_PROFESSOR'">
        <app-teacher-group-navigation-page></app-teacher-group-navigation-page>
        <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <app-generic-navigation-card 
            *ngFor="let op of operations()" 
            [operation]="op"></app-generic-navigation-card>
        </div> -->
    </ng-container>
    
    <ng-container *ngSwitchCase="'ROLE_ESTUDANTE'">
        <app-navigation-page></app-navigation-page>
        <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <app-generic-navigation-card 
            *ngFor="let op of operations()" 
            [operation]="op"></app-generic-navigation-card>
        </div> -->
    </ng-container>
    
    <ng-container *ngSwitchDefault>
        <div class="text-center py-10">
            <p class="text-slate-500">Conteúdo indisponível ou você não tem permissão para visualizar esta área.</p>
        </div>
    </ng-container>
    
</div>