<header class="bg-white/80 backdrop-blur-lg sticky top-0 z-10 border-b border-gray-200">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            
            <div class="flex items-center space-x-10">
                <app-logo-link></app-logo-link>
                <app-navigation [currentUser]="currentUser"></app-navigation>
            </div>
            
            <div *ngIf="currentUser" class="flex items-center space-x-2 sm:space-x-4">
                <app-notification-button></app-notification-button>
                <app-profile-button [currentUser]="currentUser"></app-profile-button>
            </div>
        </div>
    </div>
</header>