:host {
    display: block;
}

.logo{
    height: 30px !important;
}

.text-academic-primary {
    color: #4f46e5;
}

.bg-academic-primary {
    background-color: #4f46e5;
}

.hover\:bg-academic-dark:hover {
    background-color: #4338ca;
}

.bg-academic-50 {
    background-color: #eef2ff;
}