<div class="page-structure font-sans antialiased text-gray-800">
    <!-- <app-navbar></app-navbar> -->
    <app-navbar-alt-no-auth></app-navbar-alt-no-auth>
    
    <app-hero-section></app-hero-section>
    
    <app-partners-section></app-partners-section>
    
    <app-key-features-section></app-key-features-section>
    
    <app-demo-section></app-demo-section>
    
    <app-plans-section></app-plans-section>
    
    <app-testimonials-section></app-testimonials-section>
    
    <app-faq-section></app-faq-section>
    
    <app-final-ctasection></app-final-ctasection>
    
    <app-footer></app-footer>
</div>