<app-generic-view-page>
    <app-generic-page-header [title]="title"></app-generic-page-header>
    
    <app-generic-tab-navigation 
    [tabs]="tabs()" 
    class="px-8 bg-white"></app-generic-tab-navigation>
    
    <main class="flex-1 overflow-y-auto p-8 pt-6 relative max-h-[80vh]">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <app-generic-task-card *ngFor="let activity of filteredActivities()" [activity]="activity"></app-generic-task-card>
        </div>
        
        <div *ngIf="filteredActivities().length === 0" class="text-center py-12 text-gray-500">
            <p>Nenhuma atividade encontrada para este status.</p>
        </div>
        
        <app-pager
        [totalItems]="totalDeItensDoSeuSignal()"
        [(currentPage)]="paginaAtualSignal"
        [(itemsPerPage)]="itensPorPaginaSignal"/>
        
        <app-generic-floating-plus-button></app-generic-floating-plus-button>
    </main>
</app-generic-view-page>