:host{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o separador */
.menu-separator {
    padding: 0 !important;
    margin: 0 !important;
    height: 1px !important;
    background-color: #e5e7eb !important;
}

/* Estilo para o menu */
.p-tieredmenu {
    border: 1px solid #e5e7eb !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.p-tieredmenu .p-menuitem-link {
    padding: 0.75rem 1rem !important;
}

.p-tieredmenu .p-menuitem-link:hover {
    background-color: #f9fafb !important;
}