<div class="bg-white font-sans">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-16">
        <app-section-header 
        title="Termos de Uso" 
        description="Última atualização: 06 de Outubro de 2025">
    </app-section-header>
    
    <div class="relative lg:grid lg:grid-cols-12 lg:gap-12">
        
        <!-- Componente de Índice -->
        <aside class="hidden lg:block lg:col-span-3">
            <app-table-of-contents [sections]="sections"></app-table-of-contents>
        </aside>
        
        <!-- Componente de Conteúdo -->
        <div class="lg:col-span-9">
            <app-legal-text></app-legal-text>
        </div>
        
    </div>
</div>
</div>