@if (userLevel === 'admin') {
    <app-user-redirection-panel-page
    [title]="'Painel Administrativo'"
    [subtitle]="'Gerencie usuários, grupos e configurações do sistema'">
</app-user-redirection-panel-page>
}

@if (userLevel === 'professor') {
    <app-user-redirection-panel-page
    [title]="'Painel do Professor'"
    [subtitle]="'Gerencie suas turmas, notas e conteúdos'">
</app-user-redirection-panel-page>
}

@if (userLevel === 'estudante') {
    <app-user-redirection-panel-page
    [title]="'Meu Painel'"
    [subtitle]="'Acesse suas disciplinas, notas e muito mais'">
</app-user-redirection-panel-page>
}